*{

    font-family: 'Yusei Magic','Helvetica', Arial, sans-serif;
}
body{
    background-image: url('../img/hogwarts.jpg');
    background-size: cover;
    
}

h1{
    color: white;
    margin: 30px 50px;
    font-size: 50px;
}
h2{
    color: white;
}
button{
    font-weight: bolder;
    font-size: 25px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: black;
    cursor: pointer;
    margin: 0 15px;
    margin-left: 100px;
}
button:active{
    transform: scale(0.90);
}

.juego{
    width: 770px;
    width: -moz-fit-content;
    display: flow-root;
    height: auto;
    margin: 10px;
    margin-top: 40px;
}
.imagen{
    background-color:black ;
    width: 150px;
    height: 150px;
    float: left;
    /* position: relative; */
    border: 2px solid black;
    background-size: cover;
}
.controles{
    font-size: 20px;
}
.movimientos{
    margin-left: 10px;
    margin-right: 30px;
}
.tiempo{
    display: inline-flex;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px  rgb(0, 0, 0), -1px -1px 0  rgb(0, 0, 0), 1px -1px 0  rgb(0, 0, 0), -1px 1px 0  rgb(0, 0, 0);
}
.ui-dialog .ui-dialog-title{
    text-align: center;
    font-size: 25px ;
}

/* .imagen[id='1'] {
    background-image: url('../img/1.jpg');
    background-size: cover;
}