.juego{
    width: 770px;
    width: -moz-fit-content;
    display: flow-root;
    height: auto;
    margin: 10px;
}
.imagen{
    background-color:black ;
    width: 120px;
    height: 120px;
    float: left;
    /* position: relative; */
    border: 2px solid white;
}

.imagen[value="1"] {
    background-image: url('../img/01.jpg');
    background-size: cover;
}
.imagen[value="2"] {
    background-image: url('../img/02.jpg');
    background-size: cover;
}
.imagen[value="3"] {
    background-image: url('../img/03.jpg');
    background-size: cover;
}
.imagen[value="4"] {
    background-image: url('../img/04.jpg');
    background-size: cover;
}
.imagen[value="5"] {
    background-image: url('../img/05.jpg');
    background-size: cover;
}
.imagen[value="6"] {
    background-image: url('../img/06.jpg');
    background-size: cover;
}
.imagen[value="7"] {
    background-image: url('../img/07.jpg');
    background-size: cover;
}
.imagen[value="8"] {
    background-image: url('../img/08.jpg');
    background-size: cover;
}
.imagen[value="9"] {
    background-image: url('../img/09.jpg');
    background-size: cover;
}
.imagen[value="10"] {
    background-image: url('../img/10.jpg');
    background-size: cover;
}

